.editable-input {
  max-width: 500px;
  display: inline-block;
}

.btn-link {
  padding: 0;
}

.edit-btn {
  margin-left: 0.5rem;
}

.editable-btn {
  margin-right: 0.25rem;
}

.editable-btn svg {
  font-size: 175%;
}
