.spinner-container {
  position: absolute;
  top: 55px;
  width: 100%;
  height: calc(100% - 55px);
  z-index: 100;
}

.spinner {
  position: fixed;
  top: 120px;
  left: calc(50% - 22.5px);
  z-index: 101;
}
